[submodule "climate_api"]
	path = climate_api
	url = https://github.com/t-affeldt/climate_api.git
[submodule "regional_weather"]
	path = regional_weather
	url = https://github.com/t-affeldt/regional_weather.git
[submodule "moon_phases"]
	path = moon_phases
	url = https://github.com/t-affeldt/minetest_moon_phase
[submodule "lightning"]
	path = lightning
	url = https://github.com/minetest-mods/lightning.git
[submodule "sailing_kit"]
	path = sailing_kit
	url = https://github.com/t-affeldt/sailing_kit.git
[submodule "mobkit"]
	path = mobkit
	url = https://github.com/TheTermos/mobkit
